body{
    background:  linear-gradient(to right , red ,blue );
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center  ;
    align-items: center ;
}
.clock{
    font-weight: bolder;
    width: 80%;
    height: 150px;
   
    backdrop-filter:blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;    
    position: absolute;
}
.clock span{
    font-size: 75px;
    width: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
}
.clock span::after{
   
    font-size: 15px;
    position: absolute;
    bottom: -5px;
    left: 25%;
}
#hrs::after{
    content: "HOURS";
}
#min::after{
    content: "MINUTES";
}
#sec::after{
    content: "SECONDS";
}